blinker==1.7.0
CacheControl==0.14.0
cachetools==5.3.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==42.0.2
Deprecated==1.2.14
firebase-admin==6.4.0
Flask==3.0.1
Flask-Cors==4.0.0
flask-googlemaps==0.4.1
gcloud==0.18.3
ghp-import==2.1.0
google-api-core==2.16.2
google-api-python-client==2.116.0
google-auth==2.27.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.14.0
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
grpcio==1.60.1
grpcio-status==1.60.1
htmlmin==0.1.12
httplib2==0.22.0
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.3
jsmin==3.0.1
jwcrypto==1.5.1
Markdown==3.5.2
MarkupSafe==2.1.5
mergedeep==1.3.4
mkdocs==1.5.3
mkdocs-material==5.5.14
mkdocs-material-extensions==1.3.1
mkdocs-minify-plugin==0.3.0
msgpack==1.0.7
oauth2client==4.1.3
oauthlib==3.2.2
packaging==23.2
passlib==1.7.4
pathspec==0.12.1
platformdirs==4.2.0
proto-plus==1.23.0
protobuf==4.25.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.20.0
Pygments==2.17.2
PyJWT==2.8.0
pymdown-extensions==10.7
pyparsing==3.1.1
Pyrebase4==4.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-jwt==4.1.0
PyYAML==6.0.1
pyyaml_env_tag==0.1
requests==2.29.0
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rsa==4.9
six==1.16.0
uritemplate==4.1.1
urllib3==1.26.18
watchdog==3.0.0
Werkzeug==3.0.1
wrapt==1.16.0
