{% extends "baseNav.html" %}

{% block title %}Edit User{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='admin.css')}}">
<style>
    #reports-header{
        color: rgb(255, 70, 70);
        margin-top: -20px;
    }
    #report-list-item{
        list-style-type: none;
    }
    #reporterUsername{
        color: #427b44;
    }
    .report-container {
        width: 65%;
        margin-left: 250px;
    }
</style>
<script>
    function changeEmail(){
        let mail = prompt("Please enter the new email for this user")
        var regex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
        if (mail.match(regex)){
            window.location.href = "/admin/user_profile/{{ user['id'] }}/changeEmail?newEmail="+ mail;
        }
    }
    function deleteAccount(){
        confirmMessage = 'Are you sure you want to delete this account'
        if (confirm(confirmMessage)===true){
            window.location.href ="/admin/user_profile/{{ user['id'] }}/delete"
        }
    }
    function banFromForum(){
        confirmMessage ='Are you sure you want to ban this account from VerdexTalks'
        if (confirm(confirmMessage)===true){
            window.location.href = "/admin/user_profile/{{ user['id'] }}/ban"
        }
    }
    function unbanFromForum(){
        confirmMessage = 'Are you sure you want to unban this account from VerdexTalks'
        if (confirm(confirmMessage)===true){
            window.location.href ="/admin/user_profile/{{ user['id'] }}/unban"
        }
    }
    function logUserOut(){
        confirmMessage = 'Are you sure you want to log this user out'
        if (confirm(confirmMessage)===true){
            window.location.href ="/admin/user_profile/{{ user['id'] }}/logout"
        }
    }
    function backToHome(){
        window.location.href = "/admin/user_management"
    }
</script>
{% endblock %}

{% block body %}
{% include "includes/_adminSidebar.html" %}

<button type="button" id="back-button" class="btn btn-outline-dark" onclick="backToHome()">Go back</button>
<div class="user-container">
    <h1>User Profile</h1>
    <div class="user-details">
        <p>Email: {{ user['email'] }}</p> <!-- is this the correct way of getting the email? -->
        <p>User ID: {{ user['id'] }}</p> <!-- is this the correct way of getting the id? -->
        <div class="edit-buttons">
            {% if "googleLogin" not in user or user["googleLogin"] != True %}
            <button class="btn btn-outline-primary" onclick ="changeEmail()">Change email</button>
            {% endif %}
            {% if user['forumBanned'] %}
                <button class="btn btn-outline-success" onclick ="unbanFromForum()">Unban from VerdexTalks</button>
            {% else %}
                <button class="btn btn-outline-warning" onclick ="banFromForum()">Ban from VerdexTalks</button>
            {% endif %}
            <button class="btn btn-outline-danger" onclick ="deleteAccount()">Delete account</button>
            {% if user['idToken'] %}
                <button type="button" class="btn btn-outline-info" onclick="logUserOut()">Log out user</button>
            {% endif %}
        </div>
    </div>
</div>

{% if 'reports' in user and user['reports']|length != 0 %}
    <div class="report-container">
        <h2 id="reports-header">Reports from other users:</h2>
        <ul id="report-list">
            {% for timestamp, report_text in user['reports'].items() %}
                {% if timestamp.split('_')[0] in accountsInfo %}
                <li id="report-list-item"><b><span id="reporterUsername"><a href="{{ url_for('admin.user_profile', user_id = timestamp.split('_')[0]) }}">{{ accountsInfo[timestamp.split("_")[0]]["username"] }}</a></span>:</b> {{ report_text }}</li>
                {% else %}
                <li id="report-list-item"><b><span id="reporterUsername">{{ timestamp.split("_")[0] }} (reporter not found)</span>:</b> {{ report_text }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}

<script>
    document.getElementById("userSidebarLink").style.color = "black"
</script>
{% endblock %}