{% extends "baseNav.html" %}
{% block title %}Customer Support{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='admin.css')}}">
{% endblock %}

{% block body %}
{% include "includes/_adminSidebar.html" %}
<div class="question-container">
    <h1>Support Queries</h1>
    <h4>Question Details:</h4>
    <ol>
        {% if questions_list %}
            {% for query in questions_list %}
                <div class="question-item">
                    <div class="question-details">
                        <li>
                            <p class="question-id">ID: <span id="question-id">{{ query.id }}</span></p>
                            <p class="question-name">Name: <span id="question-name">{{ query.name }}</span></p>
                            <p class="question-email">Email: <span id="question-email">{{ query.email }}</span></p>
                            <p class="question-message">Message: <span id="question-message">{{ query.message }}</span></p>
                        </li>                                               
                    </div>
                    <div class="button">
                        <a href="{{ url_for('admin.type_reply', question_id=query.id) }}">
                            <button type="button" class="btn btn-outline-primary">Reply</button>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No questions yet.</p>
        {% endif %}
    </ol>
</div>
<script src ="/assets/adminJS"></script>
<script>
    document.getElementById("replySidebarLink").style.color = "black"
</script>
{% endblock %}
