{% extends "baseAdminNav.html" %}

{% block title %}Customer Support{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='admin.css')}}">
{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="sidebar">
        <div class="profile">
            <img class='profile' src="/static/Images/user.png" alt="">
            <span class="admin-name">{{ name }}</span>
            <br>
            <span class="admin-position">{{ position }}</span>
        </div>
        <ul>
            <li>
                <a href="/admin">
                    <span class="item">System Health</span>
                </a>
            </li>
            <li>
                <a href="/admin/user_management">
                    <span class="item">User Management</span>
                </a>
            </li>
            <li>
                <a href="/admin/report">
                    <span class="item">Weekly Report</span>
                </a>
            </li>
            <li>
                <a href="/admin/customer_support" class="active">
                    <span class="item">Customer Support</span>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
