{% extends "baseNav.html" %}
{% block title %}Reports{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='admin.css')}}">
<script>
    function downloadReport(reportId) {
        const downloadUrl = `{{ url_for('admin.download_report', report_id='') }}${reportId}`;
        window.location.href = downloadUrl;
    }

    function deleteReport(reportId) {
        const deleteUrl = `{{ url_for('admin.delete_report', report_id='') }}${reportId}`;
        window.location.href = deleteUrl;
    }
    function showConfirmation(buttonId, reportId = null) {
        // Define confirmation messages based on button IDs
        const confirmationMessages = {
            'generateReportButton': 'Are you sure you want to generate the report?',
            'deleteAllReportsButton': 'Are you sure you want to delete all reports?',
            'clearDataButton': 'Are you sure you want to clear the data?',
            'downloadReportButton': 'Are you sure you want to download the report?',
            'deleteReportButton': 'Are you sure you want to delete the report?'
        };

        // Get the confirmation message based on the button ID
        const confirmationMessage = confirmationMessages[buttonId];

        // Show the confirmation dialog
        if (confirm(confirmationMessage) == true) {
            // Trigger the corresponding Flask route based on the button ID
            switch (buttonId) {
                case 'generateReportButton':
                    window.location.href = "{{ url_for('admin.generate_report') }}";
                    break;
                case 'deleteAllReportsButton':
                    window.location.href = "{{ url_for('admin.delete_all_reports') }}";
                    break;
                case 'clearDataButton':
                    window.location.href = "{{ url_for('admin.clear_data') }}";
                    break;
                case 'downloadReportButton':
                    downloadReport(reportId);
                    console.log(reportId)
                    break;
                case 'deleteReportButton':
                    deleteReport(reportId);
                    break;
                default:
                    // Handle unknown button IDs
                    break;
            }
        }
    }
</script>
{% endblock %}

{% block body %}
{% include "includes/_adminSidebar.html" %}

<div class="content">
    <div class="report">
        <h2 class="generated-reports-header">Weekly Reports</h2>
            <div class="button-container">
                <!-- Generate Report Button -->
                <button class="btn btn-outline-success generate-report-button" type="button" onclick="showConfirmation('generateReportButton')">Generate Report</button>
    
                <!-- Delete All Reports Button -->
                <button class="btn btn-outline-danger delete-all-report-button" type="button" onclick="showConfirmation('deleteAllReportsButton')">Delete all Reports</button>
    
                <!-- Clear Data Button -->
                <button class="btn btn-outline-danger clear-data-button" type="button" onclick="showConfirmation('clearDataButton')">Clear Data</button>
            </div>
            {% for report_id, report_data in data.items() %}
            <div class="report-container">
                <h3>Report #{{ report_id }}</h3>
                <h4>{{ report_data.timestamp }}</h4>
                <p class="report-data-content">Number of Get Requests: <b>{{ report_data.get_request }}</b></p>
                <p class="report-data-content">Number of Post Requests: <b>{{ report_data.post_request }}</b></p>
                <p class="report-data-content">Number of Total Requests: <b>{{ report_data.total_requests}}</b></p>
                <p class="report-data-content">Number of Contact form questions answered: <b>{{ report_data.question_answered }}</b></p>
                <p class="report-data-content">Number of Sign ins to the Verdex: <b>{{ report_data.sign_ins }}</b></p>
                <p class="report-data-content">Number of Sign outs to the Verdex: <b>{{ report_data.sign_outs }}</b></p>
                <p class="report-data-content">Number of Posts to VerdexTalks: <b>{{ report_data.verdex_talks_posts }}</b></p>
                <button id="downloadReportButton" class="btn btn-outline-success download-report-button" type="button" onclick="showConfirmation('downloadReportButton', '{{ report_id }}')">Download Report</button>

                <button class="btn btn-outline-danger delete-report-button" type="button" onclick="showConfirmation('deleteReportButton', '{{ report_id }}')">Delete Report</button>
        </div>
            {% endfor %}
    </div>
</div>
<script>
    document.getElementById("reportSidebarLink").style.color = "black"
</script>
{% endblock %}