{% extends 'baseNav.html' %}
{% block title %}Report{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='report.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h2 class="generated-reports-header">Generated Reports</h2>
    <div class ='button-container'>
    <form action="{{ url_for('report.generate_report')}}" method = 'post'>
        <input type="hidden" name="report_id" value="{{ report_id }}">
        <button class="generate-report-button" type="submit">Generate Report</button>
    </form>
    <form action="{{ url_for('report.delete_all_reports')}}">
        <input type="hidden" name="report_id" value="{{ report_id }}">
        <button class="delete-all-report-button" type="submit">Delete all Reports</button>
    </form>
    <form action="{{ url_for('report.clear_data')}}">
        <input type="hidden" name="report_id" value="{{ report_id }}">
        <button class="clear-data-button" type="submit">Clear Data</button>
    </form>
    </div>
</div>
    {% for report_id, report_data in data.items() %}
    <div class="report-container">
        <h3>Report #{{ report_id }}</h3>
        <h5>{{ date }}</h5>
        <p class="report-data-content">Number of Get Requests: <b>{{ report_data.get_request }}</b></p>
        <p class="report-data-content">Number of Post Requests: <b>{{ report_data.post_request }}</b></p>
        <p class="report-data-content">Number of Total Requests: <b>{{ report_data.total_requests}}</b></p>
        <p class="report-data-content">Total number of questions answered from contact form: <b>{{ report_data.question_answered }}</b></p>
        <p class="report-data-content">Number of sign ins to the Verdex server: <b>{{ report_data.sign_ins }}</b></p>
        <p class="report-data-content">Number of sign outs to the Verdex server: <b>{{ report_data.sign_outs }}</b></p>
        <p class="report-data-content">Number of posts to the VerdexTalks: <b>{{ report_data.verdex_talks_posts }}</b></p>
        <form action="{{ url_for('report.download_report', report_id=report_id) }}" method="post">
            <input type="hidden" name="report_id" value="{{ report_id }}">
            <button class="download-report-button" type="submit">Download Report</button>
        </form>
        <form action="{{ url_for('report.delete_report', report_id=report_id) }}" method="post">
            <input type="hidden" name="report_id" value="{{ report_id }}">
            <button class ="delete-report-button" type="submit">Delete Report</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}