{% extends "baseNav.html" %}
{% block title %}System Health{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='admin.css')}}">
{% endblock %}

{% block body %}

{% include "includes/_adminSidebar.html" %}
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Database Interface</h5>
          <p class="card-text">The main service facilitating communication application logic and Verdex's database</p>
          <a href="/admin/reload_database" class="btn btn-outline-danger">Reload database interface</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Emailer</h5>
          <p class="card-text">Send a test email to check if emailer is working.</p>
          <a href="/admin/send_test_email" class="btn btn-primary">Send test email</a>
        </div>
      </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Analytics</h5>
          <p class="card-text">Toggle on and off the Analytics system</p>
          <p class ="card-text"></p>
              {% if analytics_status %}
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                        <label class="form-check-label" for="flexSwitchCheckChecked">Default switch checkbox input</label>
                    </div>
              {% else %}
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDisabled" disabled>
                        <label class="form-check-label" for="flexSwitchCheckDisabled">Disabled switch checkbox input</label>
                    </div>
              {% endif %}
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Firebase Authentication</h5>
          <p class="card-text">Create a summary of the number of users in the system and the number of users currently logged in</p>
          <a href="#" class="btn btn-primary">Check Firebase Auth</a>
        </div>
      </div>
    </div>
</div>

<script>
  document.getElementById("healthSidebarLink").style.color = "black"
</script>
{% endblock %}
