{% extends "baseNav.html" %}
{% block title %}System Health{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='admin.css')}}">
{% endblock %}

{% block body %}

{% include "includes/_adminSidebar.html" %}
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Database Interface</h5>
          <p class="card-text">The primary service facilitating communication application logic and Verdex's database.</p>
          {% if not sync_status %}
            <p class ="card-text" style ="color: red;">There is a mismatch or mis-sync with either the cloud or local database. Please re-load DI when safe.</p>
          {% endif %}
          <a href=# class="btn btn-outline-danger" onclick = "reloadDatabase()">Reload database interface</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Emailer</h5>
              {% if not emailer_status %}
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDisabled" disabled>
                        <label class="form-check-label" for="flexSwitchCheckDisabled">Emailer service is internally disabled</label>
                    </div>
                    <p class="card-text">Send a test email to check if emailer is working.</p>
                    <a href=# class="btn btn-primary disabled" aria-disabled="true">Test email cannot be sent as emailer disabled</a>
              {% elif addons_email_status %}
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked onclick="toggleEmailer()">
                      <label class="form-check-label" for="flexSwitchCheckChecked">Emailer service is currently on</label>
                    </div>
                    <p class="card-text">Send a test email to check if emailer is working.</p>
                    <a href=# class="btn btn-primary" onclick = "sendTestEmail()">Send test email</a>
              {% elif not addons_email_status %}
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onclick="toggleEmailer()">
                      <label class="form-check-label" for="flexSwitchCheckDefault">Emailer service is disabled</label>
                  </div>
                  <p class="card-text">Send a test email to check if emailer is working.</p>
                  <a href=# class="btn btn-primary disabled" aria-disabled="true">Test email cannot be sent as emailer disabled</a>
              {% endif %}
        </div>
      </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Analytics</h5>
          <p class="card-text">Toggle on and off the Analytics system</p>
          <p class ="card-text"></p>
              {% if not analytics_status %}
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDisabled" disabled>
                        <label class="form-check-label" for="flexSwitchCheckDisabled">Analytics service is disabled</label>
                    </div>
              {% elif addons_analytics_status %}
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked onclick="toggleAnalytics()">
                      <label class="form-check-label" for="flexSwitchCheckChecked">Analytics service is currently on</label>
                    </div>
              {% elif not addons_analytics_status %}
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onclick="toggleAnalytics()">
                      <label class="form-check-label" for="flexSwitchCheckDefault">Analytics service is currently off</label>
                  </div>
              {% endif %}
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Firebase Authentication</h5>
          <p class="card-text">Create a summary of the number of users in the system and the number of users currently logged in</p>
          <p class ="card-text">Total users: {{ total_user }} Total users logged in: {{ logged_in }}</p>
          <a href=# class="btn btn-primary" onclick ="reloadFireauth()">Reload Firebase Authentication</a>
        </div>
      </div>
    </div>
</div>

<script src ="/assets/adminJS"></script>
{% endblock %}
