{% extends "baseNav.html" %}
{% block title %}Customer Support{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='admin.css')}}">
{% endblock %}

{% block body %}
{% include "includes/_adminSidebar.html" %}
<div class="question-container">
    <h1>Question: {{question_message}}</h1>
    <h4>Name: <span id ="question-name">{{ question_name }}</span></h4>
    <h4>Email: <span id = "question-email">{{ question_email }}</span></h4>
    <h4>Reply:</h4>
    <div class="form-group">
        <label for="title">Subject:</label>
        <input type="text" class="form-control" id="question-title" name="title" >
        <label for="body">Email body:</label>
        <textarea class="form-control" id="question-body" name="reply" rows="3"></textarea>
    </div>
    <button id="submitButton" type="submit" class="btn btn-outline-primary" onclick = "reply()">Submit</button>
    
</div>
<script src ="/assets/adminJS"></script>
<script>
    document.getElementById("replySidebarLink").style.color = "black"
</script>
{% endblock %}
