{% extends "baseNav.html" %}

{% block title %}User Management{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='admin.css')}}">
{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="sidebar">
        <div class="profile">
            <img class='profile' src="/static/Images/user.png" alt="">
            <span class="admin-name">{{ name }}</span>
            <br>
            <span class="admin-position">{{ position }}</span>
        </div>
        <ul>
            <li>
                <a href="/admin">
                    <span class="item">System Health</span>
                </a>
            </li>
            <li>
                <a href="/admin/user_management" class="active">
                    <span class="item">User Management</span>
                </a>
            </li>
            <li>
                <a href="/admin/report">
                    <span class="item">Weekly Report</span>
                </a>
            </li>
            <li>
                <a href="/admin/customer_support">
                    <span class="item">Customer Support</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<br>
<div class="user-container">
    <h1>List of Users</h1>
    <h3>Email:</h3>
    <ol>
        {% if accountsInfo %}
            {% for user_id, user_data in accountsInfo.items() %}
                <div class="users">
                    <div class="user-item">
                        <li>{{ user_data['email'] }}</li>
                        <div class="button">
                            <a href="{{ url_for('admin.user_profile', user_id=user_id) }}">
                                <button type="button" class="btn btn-outline-primary">Edit User</button>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No users yet.</p>
        {% endif %}
    </ol>
</div>
{% endblock %}