{% extends "baseNav.html" %}
{% block title %}User Management{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='admin.css')}}">
{% endblock %}

{% block body %}
{% include "includes/_adminSidebar.html" %}
<div class="user-container">
    <h1>List of Users</h1>
    <h3>Email:</h3>
    <ol>
        {% if accountsInfo %}
            {% for user_id, user_data in accountsInfo.items() %}
                {% if "admin" not in user_data or user_data["admin"] != True %}
                <div class="users">
                    <div class="user-item">
                        <li>{{ user_data['email'] }}</li>
                        <div class="button">
                            <a href="{{ url_for('admin.user_profile', user_id=user_id) }}">
                                <button type="button" class="btn btn-outline-primary">Edit User</button>
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No users yet.</p>
        {% endif %}
    </ol>
</div>
<script>
    document.getElementById("userSidebarLink").style.color = "black"
</script>
{% endblock %}