{% extends "baseNav.html" %}

{% block tabTitle %}Successfully submited form{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='contactAndFAQ.css') }}">
{% endblock %}

{% block body %}
    <div class="wrapper">
    <img src="/static/Images/584856b4e0bb315b0f7675ac.png" alt="logo">
    <h1>Thanks for submitting!</h1>
    <br>
    <h4>We appreciate your response and will get back to you as soon as possible</h4>
    <br>
    <div class="button">
        <a href="{{ url_for ('homepage') }}">
            <button class="btn btn-outline-success">
                Go back to Homepage
            </button>
        </a>
    </div> 
    <br> 
</div>
{% endblock %}