{% extends "baseXNav.html" %}

{% block tabTitle %}Successfully submited form{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='contactAndFAQ.css') }}">
{% endblock %}

{% block body %}
    <div id ="content">
    <h2>Form Submitted Successfully!</h2>
    <img src="/assets/logo?type=transparentColour" alt="logo" width="200">
    <p class="success">Thank you for your submission.</p>
    <p class="success">We will get back to your question by the email you provided</p>
    <a href="{{ url_for ('faq.faq') }}">
        <p>Go back to FAQ page</p>
    </a>
    <script src="/assets/copyright"></script>
</div>
{% endblock %}