<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reply Email</title>
</head>
<body>
    <h1>{{ email_title }}</h1>
    <br>
    <p>Dear {{ email_name }}</p>
    <br>
    <p>You have sent in a request from our contact form with the message:</p>
    {{ question_message }}
    <br>
    <p>{{ email_body }}</p>
    <br>
    <p>Kindly regards, The Verdex Team</p>
    <br>
    <p>{{ copyright }}</p>
    <script src ="/assets/adminJS"></script>
</body>
</html>