<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Verdex Admin</title>
</head>
<body>
    <img src="https://prakhartrivedi.works/assets/img/verdexLogo.png" alt="Logo" width="200px" height="150px">
    <br>
    <h1>Welcome To Verdex Family!</h1>
    <p>Dear {{ name }},</p>
    <br>
    <p>Welcome to the Verdex Family, We are pleased to have you on board</p>
    <br>
    <p>You are now able to access the admin dashboard which allows you to manage users on our server, generate a report that allows you to see the metrics that the Verdex Analytics system has collected on run, reply to customer questions that came from the contact form and also turn off and on some system functions.</p>
    <br>
    <p>Admins are not allowed to access VerdexTalks the community forum and are only allowed to be on the dashboard screen for their entire session on the server</p>
    <br>
    <p>Kindly regards, The Verdex Team</p>
    <br>
    <p>THIS IS AN AUTOMATED MESSAGE DELIVERED TO YOU BY VERDEX. DO NOT REPLY TO THIS EMAIL.</p>
    <p>{{ copyright }}</p>
</body>
</html>