<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resend Email Verification | Verdex</title>
</head>
<body>
    <h1>Email Verification</h1>
    <p>Dear {{ username }},</p>
    <br>
    <p>Please verify your email <a href="{{ verifyEmailLink }}">here</a>.</p>
    <p>If you did not request this, please ignore this email.</p>
    <br>
    <p>Kindly regards, The Verdex Team</p>
    <br>
    <p>THIS IS AN AUTOMATED MESSAGE DELIVERED TO YOU BY VERDEX. DO NOT REPLY TO THIS EMAIL.</p>
    <p>{{ copyright }}</p>
</body>
</html>