<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Email</title>
</head>
    <body>
        <img src="https://prakhartrivedi.works/assets/img/verdexLogo.png" alt="Logo" width="200px" height="150px">
        <br>
        <h1>This is a test email sent from the admin dashboard</h1>
        <p>Dear {{ username }},</p>
        <br>
        <p>This is a test email sent from the admin dashboard.</p>
        <br>
        <p>If you have successfully recieved this email this indicates that the Emailer services are nominal</p>
        <br>
        <p>Kind regards, The Verdex Team</p>
        <br>
        <p>THIS IS AN AUTOMATED MESSAGE DELIVERED TO YOU BY VERDEX. DO NOT REPLY TO THIS EMAIL.</p>
        <p>{{ copyright }}</p>
    </body>
</html>