/* styles.css */

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
}

body {
    background: white;
}

.wrapper {
    height: 100%;
}

.sidebar {
    box-sizing: border-box;
    background: white;
    width: 225px;
    height: 120%;
    margin-top: -58px;
    padding-top: 70px;
    transition: all 0.5s ease;
    border-right: 2px solid black;
    position: fixed;
    overflow: hidden;
    z-index: -1;
}

.wrapper .sidebar .profile {
    margin-bottom: 30px;
    text-align: center;
    margin-left:30px;
}

.wrapper .sidebar .profile img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    align-items: center;
}

.wrapper .sidebar .profile h3 {
    color: black;
    margin: 10px 0 5px;
    text-align: center;
}

.wrapper .sidebar .profile p {
    color: black;
    font-size: 14px;
    text-align: center;
}

.wrapper .sidebar ul li a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-size: 16px;
    text-align: center;
    text-decoration:none;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
    color: black;
    font-weight: bold;
    background: white;
    border-right: 2px solid black;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
    display: block;
}

.content {
    margin-left:250px;
    margin-top:-1000px;
}
.content h2{  
    z-index:-1;
}
.report{
    margin-top:40px;
    margin-left:50px;
}
.explain{
    font-size:20px;
    font-family: 'Open Sans',sans-serif
}
.report-container {
    border: 2px solid #333;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right:30px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left:-30px;
    justify-content: center;
    width: auto;
}

.generated-reports-header {
    color: #333;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-right:20px;
    padding-top:5px;
    padding-bottom: 15px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.report-data-content {
    color: #555;
    margin-bottom: 10px;
}

.download-report-button{
    float: right;
    margin-top: -70px;
    margin-right:10px;
    border-radius: 7px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}
.delete-report-button{
    float: right;
    margin-top: -20px;
    margin-right: 10px;
    border-radius: 7px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}
.generate-report-button{
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-right:10px;
}
.delete-all-report-button,
.clear-data-button{
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-right:10px;
}


.button-container{
    display:flex;
    justify-content: center;
    margin-top:60px;
    padding-bottom:60px;
}