#content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#header ,#beforeItineraryLabel{
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

#completeItinerary {
    margin: auto;
    border: 2px solid green;
    border-radius: 50px;
    height: 450px;
    width: 70%;
}

#completionFooter {
    margin: auto;
    margin-top: 20px;
    width: 70%;
}

#share, #exit {
    float: right;
    text-align: center;
    vertical-align: center;
}

.exitButton {
    padding: 5px;
    padding-top: 8px;
    padding-left: 15px;
    margin: 5px;
    width: 100px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.shareForumButton {
    padding: 5px;
    padding-top: 8px;
    padding-left: 15px;
    margin: 5px;
    width: 200px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.exitButton img, .shareForumButton img {
    padding-top: 5px;
}

.exitButton:hover, .shareForumButton:hover {
    background-color: green;
    color: white;
    transition: 1s;
}
