#content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#header ,#beforeItineraryLabel{
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#tickIcon {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

#completeItinerary {
    margin: auto;
    border: 2px solid green;
    border-radius: 50px;
    height: 500px;
    width: 70%;
    overflow: scroll;
}

#dateFinalRight {
    color: grey;
}

#activityNameRight, #arriveNameRight {
    font-weight: bolder;
}

#startTimeLeft, #barLeft, #arriveTimeLeft {
    padding-right: 50px ;
    text-align: center;
}

#itineraryLogFinal {
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

#routeTableFinal {
    margin-left: 20px;
}

#dayAndDateHeader {
    border: 2px solid green;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#journeyBox-box {
    display: flex;
    justify-content: space-around;
    height: 90%;
}

#journeyBox-box {
    border: 2px solid black;
    border-radius: 10px;
    background: white;
    align-items: center;
}
#detailJourneyButton {
    background: none;
    border: none;
    border-radius: 8px;
    transition: 0.5s ease-out;
}

#detailJourneyButton:hover {
    background-color: rgb(196, 196, 196);
    transition: 0.5s;
}

#detailJourneyButton img {
    height: 34px;
    width: 34px;
}

#transportDescription, #transportLogo,#transportInfo {
    height: 28px;
    padding: 0 5px 0 5px;
}

#transportDescription {
    padding-left: 15px;
    padding-right: 15px;
}

#modalTitleText p {
    font-size: larger;
}

#modalEta  h5{
    width: 35%;
    margin: auto;
    border: 2px green solid;
    border-radius: 10px;
    padding: 10px;
}

#modalEta  p {
    color: grey;
}

#routeTable {
    width: 100%;
}

#timeLeft, #barWalkLeft, #barTransitLeft, #transitStartTimeLeft, #transitArriveTimeLeft, #walkArriveTimeLeft {
    padding-right: 50px ;
    text-align: center;
}

#barTransitLeft {
    font-size: large;
    font-weight:900;
    color: limegreen;
}

#transitArriveNameRight, #transitDepartNameRight, #nameRight, #walkArriveNameRight{
    font-weight: bold;
}

#walkDesRight, #transitDesRight {
    display: flex;
    text-align: center;
}

#walkDesRight p, #transitDesRight p {
    margin: 1px 0 0 10px ;
}

#transitDesRight span {
    margin: 1px 0 0 0 ;
    padding: 5px;
    border: 2px black solid;
    border-radius: 5px;
}

#modalFooterCopyright{
    display: flex;
    align-items: center;
    width: auto;
    justify-content: center;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
}

#gmapsCopyright {
    color: grey;
}


#completionFooter {
    margin: auto;
    margin-top: 20px;
    width: 70%;
}

#share, #exit {
    float: right;
    text-align: center;
    vertical-align: center;
}

.exitButton {
    padding: 5px;
    padding-top: 8px;
    margin: 5px;
    width: 70px;
    border: 2px solid red;
    border-radius: 30px;
    background-color: white;
    color: red;
    cursor: pointer;
    transition: 0.5s ease-out;
}

.shareForumButton {
    padding: 5px;
    padding-top: 8px;
    margin: 5px;
    width: 200px;
    border: 2px solid green;
    border-radius: 25px;
    background-color: white;
    color: green;
    cursor: pointer;
    transition: 0.5s ease-out;
}

.exitButton img, .shareForumButton img {
    padding-top: 5px;
}

.shareForumButton:hover {
    background-color: green;
    color: white;
    transition: 0.5s;
}

.exitButton:hover {
    background-color: red;
    color: white;
    transition: 0.5s;
}

.btn.btn-primary {
    background: none;
    color: blue;
    transition: 0.2s ease-out;
}

.btn.btn-primary:hover {
    padding-left: 14px;
    padding-right: 14px;
    background: blue;
    color :white;
    transition: 0.2s;
}

.btn.btn-secondary{
    background: none;
    color: grey;
    transition: 0.2s ease-out;
}

.btn.btn.btn-secondary:hover {
    padding-left: 14px;
    padding-right: 14px;
    background: grey;
    color :white;
    transition: 0.2s;
}
