#content {
    display: flex;
    height: 650px
}

/* EDITOR PANEL */

#editorPanel {
    float: left;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
}

#editorPanel-header {
    margin-left: 8px;
}

#editorPanel-sub-header {
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

#sub-headder-box-left {
    display: flex;
    align-items: left center;
}

#sub-headder-box-right {
    display: flex;
    align-items: right center;
}

#changeDayArrowLeft button, #changeDayArrowRight button{
    background-color: white;
    border: none;
    transition: 0.5s ease-out;
}

#changeDayArrowLeft button:hover, #changeDayArrowRight button:hover {
    color: green;
    transition: 0.5s;
}

#changeDayArrowRight-no button, #changeDayArrowLeft-no button {
    color:rgb(196, 196, 196);
    background-color: white;
    border: none;
}

#dayCount {
    padding-left: 4px;
    padding-right: 4px;
}

#date {
    padding-top: 6px;
    color:grey;
}

#editDateButtonButton {
    align-items: center;
    width: 30px;
    height: 30px;
    justify-content: center;
    width: 100%;
    border: none;
    background: none; 
    cursor: pointer;
    transition: 0.5s ease-out;
}

#editDateButtonButton img {
    align-items: center;
    width: 30px;
    height: 30px;
    justify-content: center;
    border: none;
    background: none; 
    cursor: pointer;
    transition: 0.5s ease-out;
}

#editDateButtonButton img:hover  {
    padding: 2px 2px 2px 2px;
    transition: 0.5s;
}

#editDate {
    background: none;
    border: none;
}


.modal-title.fs-5 {
    color: black;
}

#activityLogBox {
    width: 100%;
    height: 90%;
    border: 2px solid black;
    border-radius: 40px;
    margin: 8px 8px 4px 8px;
    padding: 30px;
    overflow: scroll;
    background-color: greenyellow;
}

#activityLogBox::-webkit-scrollbar{
    display: none;
}

/*ADD EVERYTHING HERE!!!!!!*/
#activityTimeline {
    display:flex;
    justify-content: center;
}

#timeStart, #timeEnd {
    display: flex;
    margin: 15px;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
}

[id^="startTimeModal"], [id^="endTimeModal"]{
    cursor: pointer;
    transition: 0.5s;
}


[id^="startTimeModal"]:hover, [id^="endTimeModal"]:hover{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
    cursor: text;
}

[id^="startTimeModal"]:focus, [id^="endTimeModal"]:focus{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
    cursor: text;
}

/* #timeDropButton {
    padding-top: 4px;
    margin-left: 5px;
    margin-right: 5px;
    background: none;
    border: none;
}

#timeDropButton:hover {
    color:  rgb(196, 196, 196);
    transition: 0.5s;
} */

#divider {
    padding-top: 22px;
}

#activityBox {
    width: 90%;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 10px;
    margin: auto;
}

#transportBox{
    width: 90%;
    display: flex;
    justify-content: left;
    padding-left: 72px;
    margin: 20px 20px 20px 20px;
}

#activityBox {
    background: white;
}

[id^="activityPicture"] {
    width: 100%;
    height: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
}

[id^="activityPicture"] img{
    width: 58% ;
    height: auto;
    transition: 0.5s ease-out;
}

[id^="activityPicture"] img:hover{
    width: 60% ;
    height: auto;
    transition: 0.5s;
}

[id^="activityPicture"] img {
    border: 2px solid black;
}

#activityFooter {
    display: flex;
    justify-content:space-between;
    margin-top: 25px;
    margin-bottom: 10px;
    border-top: 2px solid black;
    padding-top: 10px;
}

.modal-dialog modal-lg {
    margin: auto;
}

#activityFooterModal {
    display: flex;
    justify-content:center;
    margin-top: 25px;
    margin-bottom: 10px;
    border-top: 2px solid black;
    padding-top: 10px;
}

[id^="activityActivityModal"], [id^="activityNameModal"]{
    padding: 12px 10px 12px 10px;
    transition: 0.5s ease-out;
}

[id^="activityActivityModal"]:hover, [id^="activityNameModal"]:hover {
    border: 2px solid black;
    border-radius: 10px;
    padding: 14px 12px 14px 12px;
    transition: 0.5s;
    cursor: text;
}

[id^="activityActivityModal"]:focus, [id^="activityNameModal"]:focus {
    border: 2px solid black;
    border-radius: 10px;
    padding: 14px 12px 14px 12px;
    transition: 0.5s;
    cursor: text;
}

[id^="errorDisplayModal"] {
    text-align: center;
    color: red;
    padding-top: 25px;
    font-weight: bold;
}

#activityDescription {
    margin-left: 15px;
    display: flex;
}

#activityDescriptionModal {
    display: flex;
}

#activityDescription h5{
    padding-top: 12px;
}

#activityDescriptionModal h5{
    padding-top: 12px;
}

#editActivityButton {
    background: none;
    border: none;
}

#editActivityButton img {
    width: 30px;
    height: 30px;
    transition: 0.5s ease-out;
}

#editActivityButton img:hover {
    padding: 2px 2px 2px 2px;
    transition: 0.5s;
}

#deleteActivity{
    margin-top: 4px;
}

#deleteButton, #discardChangesButtonClickable {
    background: none;
    border: 2px solid red;
    border-radius: 10px;
    background: white;
    color: red;
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 15px;
    transition: 0.5s ease-out;
}

#deleteButton:hover {
    padding-left: 22px;
    padding-right: 22px;
    border-color: red;
    background: red;
    color: white;
    transition: 0.5s;
}

#deleteButton img {
    color: red;
    width: 32px;
    height: 32px;
}

#journeyBox-box {
    display: flex;
    justify-content: space-around;
    height: 90%;
}

#detailJourneyButton {
    background: none;
    border: none;
    border-radius: 8px;
    transition: 0.5s ease-out;
}

#detailJourneyButton:hover {
    background-color: rgb(196, 196, 196);
    transition: 0.5s;
}

#detailJourneyButton img {
    height: 34px;
    width: 34px;
}

#etaBox {
    padding-top: 14px;
    margin: 0 10px 0 10px;
}

#journeyBox-box {
    border: 2px solid black;
    border-radius: 10px;
    background: white;
    align-items: center;
}

#processArrow {
    margin-left: 20px;
    margin-right: 20px;
}

#transportDescription, #transportLogo,#transportInfo {
    height: 28px;
    padding: 0 5px 0 5px;
}

#transportDescription {
    padding-left: 15px;
    padding-right: 15px;
}

#modalTitleText p {
    font-size: larger;
}

#modalEta  h5{
    width: 35%;
    margin: auto;
    border: 2px green solid;
    border-radius: 10px;
    padding: 10px;
}

#modalEta  p {
    color: grey;
}

#routeTable {
    width: 100%;
}

#timeLeft, #barWalkLeft, #barTransitLeft, #transitStartTimeLeft, #transitArriveTimeLeft, #walkArriveTimeLeft {
    padding-right: 50px ;
    text-align: center;
}

#barTransitLeft {
    font-size: large;
    font-weight:900;
    color: limegreen;
}

#transitArriveNameRight, #transitDepartNameRight, #nameRight, #walkArriveNameRight{
    font-weight: bold;
}

#walkDesRight, #transitDesRight {
    display: flex;
    text-align: center;
}

#walkDesRight p, #transitDesRight p {
    margin: 1px 0 0 10px ;
}

#transitDesRight span {
    margin: 1px 0 0 0 ;
    padding: 5px;
    border: 2px black solid;
    border-radius: 5px;
}

#modalFooterCopyright{
    display: flex;
    align-items: center;
    width: auto;
    justify-content: center;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
}

#gmapsCopyright {
    color: grey;
}

#addExtra {
    margin-left: auto;   
    margin-right:auto;
    text-align: center;
}

#addExtra .btn.btn-primary h5 {
    margin-top: 3.5px;
    margin-bottom: 3.5px;
}

#addExtra #out .btn.btn-primary{
    background: none;
    color: blue;
    border-width: 2px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    transition: 0.5s ease-out;
}

#addExtra #out .btn.btn-primary:hover {
    padding-left: 20px;
    padding-right: 20px;
    background: blue;
    color :white;
    transition: 0.5s;
}

#activityPanelFooter {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin: 0 8px 8px 8px;
    width: 100%;
}

#deleteItinerary,#saveItinerary {
    text-align: center;
    vertical-align: center;
}

#deleteItineraryButton {
    width: 190px;
    padding-top: 8px;
    border: 2px solid red;
    border-radius: 10px;
    background-color: white;
    color: red;
    cursor: pointer;
    transition: 0.5s ease-out;
}

#saveItineraryButton {
    width: 135px;
    padding-top: 8px;
    border: 2px solid green;
    border-radius: 10px;
    background-color: white;
    color: green;
    cursor: pointer;
    transition: 0.5s ease-out;
}

#saveItineraryButton:hover{
    width: 145px;
    background-color: green;
    color:white;
    transition: 0.5s;
}

#deleteItineraryButton:hover{
    width: 200px;
    background-color: red;
    color: white;
    transition: 0.5s;
}

.btn.btn-primary {
    background: none;
    color: blue;
    transition: 0.2s ease-out;
}

.btn.btn-primary:hover {
    padding-left: 14px;
    padding-right: 14px;
    background: blue;
    color :white;
    transition: 0.2s;
}

.btn.btn-secondary{
    background: none;
    color: grey;
    transition: 0.2s ease-out;
}

.btn.btn.btn-secondary:hover {
    padding-left: 14px;
    padding-right: 14px;
    background: grey;
    color :white;
    transition: 0.2s;
}

.editDatePopup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 5s ease-in-out;
}
.editDatePopup-body-content-date {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

#newDate {
    border-radius: 15px;
    border: 2px solid #427b44;
    padding: 15px;
    transition: 0.5s;
    cursor: text;
}

#newDate::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }

#newDate:hover {
    padding: 25px;
    transition: 0.5s;
}


#addDayButton {
    background: none;
    border: 2px solid #427b44;
    border-radius: 10px;
    background: white;
    color: #427b44;
    padding-left: 20px;
    padding-right:20px;
    transition: 0.5s ease-out;
    width: 140px;
    margin-left: 10px;
}

#addDayButton:hover{
    width: 150px;
    background-color: green;
    color:white;
    transition: 0.5s;
}

#editDateButton {
    margin-right: 10px;
}