html {
    scroll-behavior: smooth;
}

.content {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

.report-container {
    border: 2px solid #333;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.generated-reports-header {
    color: #333;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right:20px;
    padding-top:5px;
    padding-bottom: 15px;
    font-family: Arial, sans-serif;
}

.report-data-content {
    color: #555;
    margin-bottom: 10px;
}

.download-report-button{
    float: right;
    margin-top: -90px;
    margin-right: 70px;
    border-radius: 7px;
    background-color: white;
    color: green;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}
.delete-report-button{
    float: right;
    margin-top: -35px;
    margin-right: 70px;
    border-radius: 7px;
    background-color: white;
    color: red;
    border: 2px solid red;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}
.download-report-button:hover{
    background-color: green;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.delete-report-button:hover{
    background-color: red;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.generate-report-button{
    background-color: white;
    color: green;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-right:10px;
}
.delete-all-report-button,
.clear-data-button{
    background-color: white;
    color: red;
    border: 2px solid red;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-right:10px;
}
.generate-report-button:hover{
    background-color: green;
    color: white;
    border-color: green;
}
.delete-all-report-button:hover,
.clear-data-button:hover{
    background-color: red;
    color: white;
    border-color: red;
}

.button-container{
    display:flex;
    justify-content: center;
    margin-top:-60px;
    padding-bottom:100px;
}