* {
    box-sizing: border-box;
}

#heading {
    text-align: center;
    margin-top: 50px;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 50px;
}

#signinlink {
    text-align: center;
    padding: 50px;
}

#left {
    margin-top: 30px;
    margin: auto;
    text-align: center
}

#username,
#password,
#email,
#cfm-password {
    width: 100%;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: large;
}

#username > p,
#password > p,
#email > p,
#cfm-password > p {
    margin-top: 15px;
}

input {
    height: 30px;
    width: 300px;
}

input[type="submit"] {
    margin-top: 20px;
}

#signUpButton {
    margin-top: 15px;
}

#usernameMsg,
#emailMsg,
#passwordMsg,
#cfmPasswordMsg {
    visibility: hidden;
    margin-top: 5px;
}

#copyright {
    text-align: center;
}