* {
    box-sizing: border-box;
}

#heading {
    text-align: center;
    margin-top: 50px;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 50px;
}

#content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: 400px;
}

#left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
}

#right {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 500px;
}

#unverifiedEmail {
    width: fit-content;
}

#resendEmailBtn {
    font-size: small;
    margin-left: 20px;
}

.modal-body>label {
    margin-left: 5px;
}

#changePasswordMsg {
    visibility: hidden;
    font-size: smaller;
    margin-top: 10px;
    margin-left: 5px;
    color: red;
}

#pfp {
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin-top: 0;
    margin-bottom: 30px;
}

#aboutMeDiv {
    height: 150px;
    width: 350px;
    outline: 1px solid black;
    border-radius: 10px;
    margin-bottom: 50px;
}

#description {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}

#buttondiv {
    margin-top: 30px;
    margin-left: 240px;
    margin-bottom: 40px;
}

.button-container {
    display: inline-block;
    margin-right: 15px;
}

#copyright {
    text-align: center;
}