{% extends "baseNav.html" %} <!--NAVBAR-->

{% block tabTitle %}Itinerary Editor | Verdex {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='completion.css') }}">
{% endblock %}

{% block body %}
<div id="content">

    <div id="header"> <!--HEADER-->
        <img id="tickIcon" src="/static/Images/tickCompletion.png" alt="#"> <!--tick icon-->
        <h1>Hooray! You're Done!</h1> <!--Super Bold-->
    </div>

    <div id="beforeItineraryLabel"> <!--LABEL BEFORE THE FINAL ITINERARY-->
        <h3>Your Itinerary</h3>
    </div>

    <div id="completeItinerary"> <!--FINAL ITINERARY-->
        <div id="itineraryLogFinal">
            {% for day in dayCountList %}
                {% for activityIndex in itinerary_data["itineraries"][itineraryID]["days"][day]["activities"] %}
                {% if not loop.last %}
                    <div id="dayAndDateHeader">
                        <div id="dayFinalLeft">
                            <h1>Day {{ day }}</h1>
                        </div>
                        <div id="dateFinalRight">
                            <h6>{{ itinerary_data["itineraries"][itineraryID]["days"][day]["date"] }}</h6>
                        </div>
                    </div>
                        
                    <table id="routeTableFinal">
                        <tr>
                            <td id="barWalkLeft">|</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td id="barWalkLeft">|</td>
                            <td id="walkDesRight">
                                <img style="width: 30px; height: 30px;" src="/{{ routeStep['icon'] }}" alt="#">
                                <p><span>{{ routeStep["name"] }}</span> {{ routeStep["startInstruction"] }} | {{ routeStep["time"] }}  {{ routeStep["distance"] }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td id="barWalkLeft">|</td>
                            <td></td>
                        </tr>
                    </table>
                {% endif %}
                {% if loop.last %} 
                    <tr>
                        <td id="transitArriveTimeLeft">{{ routeStep["arriveTime"] }}</td>
                        <td id="transitArriveNameRight">{{ itinerary_data['itineraries'][itineraryID]['days'][day]['activities'][(activityId | int + 1) | string]['name'] }}</td>
                    </tr>
                {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    <div id="completionFooter">
        <div id="share">
            <button class="shareForumButton" onclick="location.href = '{{ url_for("forum.verdextalks")}}'">
                <h5>Share To Forum</h5>
            </button>
        </div>
        <div id="exit">
            <button class="exitButton" onclick="location.href = '{{ url_for("homepage")}}'">
                <h5>Exit</h5>
            </button>
        </div>
    </div>
</div>
{% endblock %}