{% extends "baseNav.html" %} <!--NAVBAR-->

{% block tabTitle %}Itinerary Editor | Verdex {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='editor.css') }}">
    <script src="/assets/editorJS"></script>
{% endblock %}

{% block body %}
<div id="content">

    <div id="editorPanel"> <!--EDITOR PANEL START-->

        <div id="editorPanel-header"> <!--HEADER-->
            <h1>Itinerary Editor</h1>
        </div>

        <div id="editorPanel-sub-header"> <!--SUB HEADER-->
            <div id="sub-headder-box-left">
                {% if day != dayCountList[0] %}
                <div id="changeDayArrowLeft" onclick="previousDay()"><button><strong><</strong></button></div>
                {% else %}
                <div id="changeDayArrowLeft-no"><button><strong><</strong></button></div>
                {% endif %}
                <div id="dayCount"><h4>Day {{ day }}</h4></div>
                {% if day != dayCountList[-1] %}
                <div id="changeDayArrowRight" onclick="nextDay()"><button><strong>></strong></button></div>
                {% else %}
                <div id="changeDayArrowRight-no"><button><strong>></strong></button></div>
                {% endif %}
            </div>
            <button onclick="addDay('{{ itineraryID }}', '{{ dayLength }}', '{{ itinerary_data['itineraries'][itineraryID]['days'][day]['date'] }}')" id="addDayButton">Add Day</button>
            <button onclick="editDate()" id="editDateButton">Edit Date</button>
            <div id="sub-headder-box-right">
                <div id="date">
                    <h6>{{ itinerary_data["itineraries"][itineraryID]["days"][day]["date"] }}</h6>
                </div>
            </div>
        </div>

        <div id="activityLogBox" ondrop="drop(event)" ondragover="allowDrop(event)"> <!--ACTIVITY LOG--> <!--scrollable-->
            <!--get current day from dayCount-->
            {% for activityId in activityCountList %}
                {% if not loop.last %}
                    <div id="activityBox">
                        <div id="activityTimeline"><!--Timeline Box (static on top left corner on each activities)-->
                            <div id="timeStart">
                                <div>
                                    <span hidden id="activityId">{{ activityId }}</span>
                                    <h3 id="startTime">{{ itinerary_data["itineraries"][itineraryID]["days"][day]["activities"][activityId]["startTime"] }}</h3>
                                </div>
                            </div>
                            <div id="divider"><h4><strong>·</strong>---<strong>·</strong></h4></div>
                            <div id="timeEnd">
                                <div>
                                    <h3 id="endTime">{{ itinerary_data["itineraries"][itineraryID]["days"][day]["activities"][activityId]["endTime"] }}</h3>
                                </div>
                            </div>  
                        </div>

                        <div id="activityPicture"><img src="{{ itinerary_data['itineraries'][itineraryID]['days'][day]['activities'][activityId]['imageURL'] }}" alt="#"></div>

                        <div id="activityFooter">
                            <div id="activityDescription"> <!--left-->
                                <h5 id="activityLocation">{{ itinerary_data["itineraries"][itineraryID]["days"][day]["activities"][activityId]["location"] }}</h5> 
                                <h5> &nbsp | &nbsp  </h5>
                                <h5 id="activityName">{{ itinerary_data["itineraries"][itineraryID]["days"][day]["activities"][activityId]["name"] }}</h5>
                                <button type="button" class="editActivityButton" data-bs-toggle="modal" data-bs-target="#editActivityModal{{ activityId }}" id="editActivityButton"><img src="/static/Images/editButtonBlack.png" alt="#"></button>
                            </div>

                            <div class="modal fade" id="editActivityModal{{ activityId }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                <h5 style="padding-top: 10px; padding-right: 10px; font-weight: bold;">Edit This Activity! </h5>
                                                <span style="color:gray">(Click on the elements that you want to edit)</span></h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="activityLogBox"> <!--ACTIVITY LOG--> <!--scrollable-->
                                                <!--get current day from dayCount-->
                                                <div id="activityBox">
                                                    <div id="activityTimeline"><!--Timeline Box (static on top left corner on each activities)-->
                                                        <div id="timeStart">
                                                            <div>
                                                                <span hidden id="activityId">{{ activityId }}</span>
                                                                <h3 id="startTimeModal{{ activityId }}" contenteditable="true">{{ itinerary_data["itineraries"][itineraryID]["days"][day]["activities"][activityId]["startTime"] }}</h3>
                                                            </div>
                                                        </div>
                                                        <div id="divider"><h4><strong>·</strong>---<strong>·</strong></h4></div>
                                                        <div id="timeEnd">
                                                            <div>
                                                                <h3 id="endTimeModal{{ activityId }}" contenteditable="true">{{ itinerary_data["itineraries"][itineraryID]["days"][day]["activities"][activityId]["endTime"] }}</h3>
                                                            </div>
                                                        </div>  
                                                    </div>
                            
                                                    <div id="activityPictureModal{{ activityId }}"><img src="{{ itinerary_data['itineraries'][itineraryID]['days'][day]['activities'][activityId]['imageURL'] }}" alt="#"></div>
                            
                                                    <div id="activityFooterModal">
                                                        <div id="activityDescriptionModal"> <!--left-->
                                                            <h5 id="activityLocationModal{{ activityId }}" contenteditable="true">{{ itinerary_data["itineraries"][itineraryID]["days"][day]["activities"][activityId]["location"] }}</h5> 
                                                            <h5> &nbsp | &nbsp  </h5>
                                                            <h5 id="activityNameModal{{ activityId }}" contenteditable="true">{{ itinerary_data["itineraries"][itineraryID]["days"][day]["activities"][activityId]["name"] }}</h5>
                                                        </div>
                                                    </div>       
                                                </div>
                                                <div id="errorDisplayModal{{ activityId }}"></div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary"
                                            onclick="saveActivityEdits('{{ activityId }}',
                                            '{{ itinerary_data['itineraries'][itineraryID]['days'][day]['activities'][activityId]['location'] }}', 
                                            '{{ itinerary_data['itineraries'][itineraryID]['days'][day]['activities'][activityId]['name'] }}',
                                            '{{ itinerary_data['itineraries'][itineraryID]['days'][day]['activities'][activityId]['startTime'] }}',
                                            '{{ itinerary_data['itineraries'][itineraryID]['days'][day]['activities'][activityId]['endTime'] }}')">Save Edits</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="deleteActivity"> <!--right-->
                                <button id="deleteButton" onclick="deleteActivity('{{ activityId }}')">
                                    <h5>Delete</h5>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div id="transportBox">
                        <div id="processArrow">
                            <h1>↓</h1> <!--Or use image to replace-->
                        </div>
                        <div id="journeyBox">
                            <div id="journeyBox-box">
                                <div id="transportDescription">
                                    <p>From <strong>{{ itinerary_data['itineraries'][itineraryID]['days'][day]['activities'][activityId]['name'] }}</strong> to <strong>{{ itinerary_data['itineraries'][itineraryID]['days'][day]['activities'][(activityId | int + 1)| string]['name'] }}</strong></p>
                                </div>
                                <div id="detailJourney">
                                    <button id="detailJourneyButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#expandedRoute{{ activityId }}">
                                        <img src="/static//Images/expandButton.png" alt="#">
                                    </button>
                                    <div class="modal fade" id="expandedRoute{{ activityId }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Expanded Route</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div id="modalTitleTexty">
                                                        <p><strong>{{ itinerary_data['itineraries'][itineraryID]['days'][day]['activities'][activityId]['name'] }}</strong> to <strong>{{ itinerary_data['itineraries'][itineraryID]['days'][day]['activities'][(activityId | int + 1) | string]['name'] }}</strong></p>
                                                    </div>
                                                    <div id="modalEta">
                                                        <h6>{{ cleanedRoutes[activityId]["eta"] }}</h6><p>including transit waiting time</p>
                                                    </div>
                                                    <div id="modalActivityRoute">
                                                        <table>
                                                            {% for routeStep in cleanedRoutes[activityId]["steps"] %}
                                                                {% if loop.first %}
                                                                    <tr>
                                                                        <td>{{ itinerary_data["itineraries"][itineraryID]["days"][day]["activities"][activityId]["endTime"] }}</td>
                                                                        <td>{{ itinerary_data['itineraries'][itineraryID]['days'][day]['activities'][activityId]['name'] }}</td> 
                                                                    </tr>
                                                                    <tr>
                                                                        <td>|</td>
                                                                        <td></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>|</td>
                                                                        <td>
                                                                            <img style="width: 30px; height: 30px;" src="/{{ routeStep['icon'] }}" alt="#"><p>{{ routeStep["name"] }}{{ routeStep["startInstruction"] }} | {{ routeStep["time"] }} {{routeStep["distance"]}}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>|</td>
                                                                        <td></td>
                                                                    </tr>
                                                                {% endif %}
                                                                {% if not loop.first %}
                                                                    {% if routeStep["transportType"] == "Walk" %}
                                                                        <tr>
                                                                            <td>|</td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>|</td>
                                                                            <td>
                                                                                <img style="width: 30px; height: 30px;" src="/{{ routeStep['icon'] }}" alt="#"><p>{{ routeStep["name"] }}{{ routeStep["startInstruction"] }} | {{ routeStep["time"] }} {{routeStep["distance"]}}
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>|</td>
                                                                            <td></td>
                                                                        </tr>
                                                                    {% endif %}

                                                                    {% if routeStep["transportType"] == "Bus","MRT","Tram" %}
                                                                        <tr>
                                                                            <td>{{ routeStep["startTime"] }}</td>
                                                                            <td>{{ routeStep["departure"] }}</td> 
                                                                        </tr>
                                                                        <tr>
                                                                            <td>|</td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>|</td>
                                                                            <td>
                                                                                <img style="width: 30px; height: 30px;" src="/{{ routeStep['icon'] }}" alt="#"><p>{{ routeStep["name"] }}{{ routeStep["startInstruction"] }} | {{ routeStep["time"] }} {{routeStep["distance"]}}
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>|</td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ routeStep["arriveTime"] }}</td>
                                                                            <td>{{ routeStep["arrival"] }}</td> 
                                                                        </tr>
                                                                    {% endif %}
                                                                {% endif %}
                                                                {% if loop.last %}
                                                                    {% if routeStep["transportType"] == "Walk" %}
                                                                        <tr>
                                                                            <td>|</td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>|</td>
                                                                            <td>
                                                                                <img style="width: 30px; height: 30px;" src="/{{ routeStep['icon'] }}" alt="#"><p>{{ routeStep["name"] }}{{ routeStep["startInstruction"] }} | {{ routeStep["time"] }} {{routeStep["distance"]}}
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>|</td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ routeStep["arriveTime"] }}</td>
                                                                            <td>{{ itinerary_data['itineraries'][itineraryID]['days'][day]['activities'][(activityId | int + 1) | string]['name'] }}</td>
                                                                        </tr>
                                                                    {% endif %}
                                                                    {% if routeStep["transportType"] == "Bus","MRT","Tram" %}
                                                                        <tr>
                                                                            <td>{{ routeStep["startTime"] }}</td>
                                                                            <td>{{ routeStep["departure"] }}</td> 
                                                                        </tr>
                                                                        <tr>
                                                                            <td>|</td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>|</td>
                                                                            <td>
                                                                                <img style="width: 30px; height: 30px;" src="/{{ routeStep['icon'] }}" alt="#"><p>{{ routeStep["name"] }}{{ routeStep["startInstruction"] }} | {{ routeStep["time"] }} {{routeStep["distance"]}}
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>|</td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>{{ routeStep["arriveTime"] }}</td>
                                                                            <td>{{ itinerary_data['itineraries'][itineraryID]['days'][day]['activities'][(activityId | int + 1) | string]['name'] }}</td>
                                                                        </tr>
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %}  
                                                        </table>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <a target="_blank" class="activityGmapsLink" href="https://www.google.com/maps/dir/?api=1&origin={{ itinerary_data['itineraries'][itineraryID]['days'][day]['activities'][activityId]['name'] }}&destination={{ itinerary_data['itineraries'][itineraryID]['days'][day]['activities'][(activityId | int + 1) | string]['name'] }}">https://www.google.com/maps/dir/?api=1&origin={{ itinerary_data['itineraries'][itineraryID]['days'][day]['activities'][activityId]['name'] }}&destination={{ itinerary_data['itineraries'][itineraryID]['days'][day]['activities'][(activityId | int + 1) | string]['name'] }}</a>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if loop.last %}
                    <div id="activityBox">
                        <div id="activityTimeline"><!--Timeline Box (static on top left corner on each activities)-->
                            <div id="timeStart">
                                <div>
                                    <span hidden id="activityId">{{ activityId }}</span>
                                    <h3 id="startTime">{{ itinerary_data["itineraries"][itineraryID]["days"][day]["activities"][activityId]["startTime"] }}</h3>
                                </div>
                            </div>
                            <div id="divider"><h4><strong>·</strong>---<strong>·</strong></h4></div>
                            <div id="timeEnd">
                                <div>
                                    <h3 id="endTime">{{ itinerary_data["itineraries"][itineraryID]["days"][day]["activities"][activityId]["endTime"] }}</h3>
                                </div>
                            </div>
                        </div>

                        <div id="activityPicture"><img src="{{ itinerary_data['itineraries'][itineraryID]['days'][day]['activities'][activityId]['imageURL'] }}" alt="#"></div> <!--Image Box-->

                        <div id="activityFooter">
                            <div id="activityDescription"> <!--left-->
                                <h5 id="activityLocation">{{ itinerary_data["itineraries"][itineraryID]["days"][day]["activities"][activityId]["location"] }}</h5>
                                 <h5> &nbsp | &nbsp  </h5>
                                 <h5 id="activityName">{{ itinerary_data["itineraries"][itineraryID]["days"][day]["activities"][activityId]["name"] }}</h5>
                                <button type="button" class="editActivityButton" data-bs-toggle="modal" data-bs-target="#editActivityModal{{ activityId }}" id="editActivityButton"><img src="/static/Images/editButtonBlack.png" alt="#"></button>
                            </div>

                            <div class="modal fade" id="editActivityModal{{ activityId }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                <h5 style="padding-top: 10px; padding-right: 10px; font-weight: bold;">Edit This Activity! </h5>
                                                <span style="color:gray">(Click on the elements that you want to edit)</span></h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="activityLogBox"> <!--ACTIVITY LOG--> <!--scrollable-->
                                                <!--get current day from dayCount-->
                                                <div id="activityBox">
                                                    <div id="activityTimeline"><!--Timeline Box (static on top left corner on each activities)-->
                                                        <div id="timeStart">
                                                            <div>
                                                                <span hidden id="activityId">{{ activityId }}</span>
                                                                <h3 id="startTimeModal{{ activityId }}" contenteditable="true">{{ itinerary_data["itineraries"][itineraryID]["days"][day]["activities"][activityId]["startTime"] }}</h3>
                                                            </div>
                                                        </div>
                                                        <div id="divider"><h4><strong>·</strong>---<strong>·</strong></h4></div>
                                                        <div id="timeEnd">
                                                            <div>
                                                                <h3 id="endTimeModal{{ activityId }}" contenteditable="true">{{ itinerary_data["itineraries"][itineraryID]["days"][day]["activities"][activityId]["endTime"] }}</h3>
                                                            </div>
                                                        </div>  
                                                    </div>
                            
                                                    <div id="activityPictureModal{{ activityId }}"><img src="{{ itinerary_data['itineraries'][itineraryID]['days'][day]['activities'][activityId]['imageURL'] }}" alt="#"></div>
                            
                                                    <div id="activityFooterModal">
                                                        <div id="activityDescriptionModal"> <!--left-->
                                                            <h5 id="activityLocationModal{{ activityId }}" contenteditable="true">{{ itinerary_data["itineraries"][itineraryID]["days"][day]["activities"][activityId]["location"] }}</h5> 
                                                            <h5> &nbsp | &nbsp  </h5>
                                                            <h5 id="activityNameModal{{ activityId }}" contenteditable="true">{{ itinerary_data["itineraries"][itineraryID]["days"][day]["activities"][activityId]["name"] }}</h5>
                                                        </div>
                                                    </div>       
                                                </div>
                                                <div id="errorDisplayModal{{ activityId }}"></div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary"
                                            onclick="saveActivityEdits('{{ activityId }}',
                                            '{{ itinerary_data['itineraries'][itineraryID]['days'][day]['activities'][activityId]['location'] }}', 
                                            '{{ itinerary_data['itineraries'][itineraryID]['days'][day]['activities'][activityId]['name'] }}',
                                            '{{ itinerary_data['itineraries'][itineraryID]['days'][day]['activities'][activityId]['startTime'] }}',
                                            '{{ itinerary_data['itineraries'][itineraryID]['days'][day]['activities'][activityId]['endTime'] }}')">Save Edits</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="deleteActivity"> <!--right-->
                                <button id="deleteButton" onclick="deleteActivity('{{ activityId }}')">
                                    <h5>Delete</h5>
                                </button>
                            </div>
                        </div>
                    </div>

                    
                {% endif %}
            {% endfor %}
 
        </div>

        <div id="activityPanelFooter"> <!--Footer-->
            <div id="deleteItinerary">
                <button id="deleteItineraryButton" onclick="deleteItinerary()">
                    <h5>Delete Itinerary</h5>
                </button>
            </div>

            <div id="addExtra"> 
                {% for activityId in activityCountList %}
                    {% set activity = itinerary_data['itineraries'][itineraryID]['days'][day]['activities'][activityId] %}
                    <button type="button" class="addActivityButton" id="addActivityButton" 
                        onclick="addNewActivity('{{ activityId }}',
                        '{{ activity['location'] }}',
                        '{{ activity['name'] }}',
                        '{{ activity['locationCoordinates']['lat'] }}',
                        '{{ activity['locationCoordinates']['long'] }}',
                        '{{ activity['imageURL'] }}',
                        '{{ activity['startTime'] }}',
                        '{{ activity['endTime'] }}')">+</button>
                {% endfor %}
            </div>

            <div id="saveItinerary">
                <button id="saveItineraryButton" onclick="location.href = '{{ url_for("completionPageBP.completion")}}'">
                    <h5>Proceed</h5>
                </button>
            </div>
        </div>
    </div>

    <div id="borderLine"></div> <!--set height in style-->

    <div id="recommendationsPanel"> <!--RECOMMENDATION PANEL START-->
        <div id="recommendationsPanel-header"> <!--HEADER-->
            <h1>Recommendations</h1>
        </div>

        <div id="filters"> <!--Filters-->
            {% if selectedFilter == 1 %}
                <div id="filter1">
                    <div id="filterLogo">
                        <img src="#" alt="#">
                    </div>
                    <div id="filterName">
                        {{ filtername }}
                    </div>
                </div>
                <div id="extendFilter">
                    <button id="extendFilterButton">▼</button>
                    <div id="extendFilterContent">
                        <div id="filtersSelected">
                            <p>{{ filtersSelectedCount }} Selected</p> <!--center-->
                        </div>
                        <div id="extendFilterContent-locations">
                            <h6 style="font-weight: bolder;">Locations:</h6>
                            <label for="location1"><img src="#" alt="#">Example</label> <!--Filter Checkbox Example-->
                            <input type="checkbox" id="location1" name="location1" value="Example">
                        </div>
                        <div id="extendFilterContent-Activities">
                            <h6 style="font-weight: bolder;">Activities:</h6>
                            <label for="location1"><img src="#" alt="#">Example</label> <!--Filter Checkbox Example-->
                            <input type="checkbox" id="location1" name="location1" value="Example">
                        </div>
                    </div>
                </div>
            {% else %}
                <div id="filter2">
                    <div id="filterContent">
                        <div id="filterNumber">
                            {{ filterTotalCount }}
                        </div>
                        <div id="filterName">
                            <h5>Filters</h5>
                        </div>
                        <div id="extendFilter">
                            <button id="extendFilterButton">▼</button>
                            <div id="extendedFilters">
                                <div id="filtersSelected">
                                    <p>{{ filtersSelectedCount }} Selected</p> <!--center-->
                                </div>
                                <div id="extendFilterContent-locations">
                                    <h6 style="font-weight: bolder;">Locations:</h6>
                                    <label for="location1"><img src="#" alt="#">Example</label> <!--Filter Checkbox Example-->
                                    <input type="checkbox" id="location1" name="location1" value="Example">
                                </div>
                                <div id="extendFilterContent-Activities">
                                    <h6 style="font-weight: bolder;">Activities:</h6>
                                    <label for="location1"><img src="#" alt="#">Example</label> <!--Filter Checkbox Example-->
                                    <input type="checkbox" id="location1" name="location1" value="Example">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        <div id="recommendations"> <!--Recommendations-->
            {% for i in [recommendations] %}
            <div id="recom" draggable="true" ondragstart="drag(event)"> <!--set dragable and scrolable-->
                <div id="recomImage">
                    <img src="#" alt="#"> <!--get recommendation image-->
                </div>
                <div id="addSign">
                    <img src="#" alt="#">
                </div>
                <hr style="border: 2px solid green; width: 100%;">
                <div id="recomDescription">
                    <h5>Name<!--recomName--></h5>
                    <h6>Type<!--recomType--></h6>
                    <div id="rating">
                        <h6 style="float: left;">4.7</h6><!--recomRating--> <img src="#" alt="#" style="float: right;"> <!--star image-->
                    </div>
                    <h2>${{ recomPrice }}/Pax</h2>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="editDatePopup">
        <div class="editDatePopup-content">
            <div class="editDatePopup-header">
                <h1 id="editDateHeader">Edit Date</h1>
            </div>
            <div id="discardChangesButton">
                <button onclick="closeEditPopup()" id="discardChangesButtonClickable">Discard Changes</button>
            </div>
            <div class="editDatePopup-body">
                <div class="editDatePopup-body-content">
                    <div class="editDatePopup-body-content-date">
                        <input type="date" id="newDate" name="newDate" value="{{ itinerary_data['itineraries'][itineraryID]['days'][day]['date'] }}">
                    </div>
                </div>
            </div>
            <div class="editDatePopup-footer">
                <button type="button" name="editDatePopupButton" id="editDatePopupButton" onclick="editDateSave('{{ itineraryID }}', '{{ day }}', '{{ itinerary_data['itineraries'][itineraryID]['days'][day]['date'] }}')">Save</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}


<!-- onclick="editActivity('{{ activityId }}','{{ itinerary_data['itineraries']['days'][day]['activities'][activityId]['location'] }}', '{{ itinerary_data['itineraries']['days'][day]['activities'][activityId]['name'] }}',
                                '{{ itinerary_data['itineraries']['days'][day]['activities'][activityId]['startTime'] }}','{{ itinerary_data['itineraries']['days'][day]['activities'][activityId]['endTime'] }}') -->