{% extends "baseNav.html" %} <!--NAVBAR-->

{% block tabTitle %}Itinerary Editor | Verdex {% endblock %}

{% block head %}
<!-- style css -->
{% endblock %}

{% block body %}
<div id="content">

    <div id="editorPanel"> <!--EDITOR PANEL START-->

        <div id="editorPanel-header"> <!--HEADER-->
            Itinerary Editor
        </div>

        <div id="editorPanel-sub-header"> <!--SUB HEADER-->
            <div id="sub-headder-box-left">
                <div id="changeDayArrowLeft" onclick="previousDay()"><button><</button></div>
                <div id="dayCount">Day {{ count }}</div>
                <div id="changeDayArrowRight" onclick="nextDay()"><button>></button></div>
            </div>
            <div id="sub-headder-box-right">
                <div id="date">
                    <!-- add date jinja -->
                </div>
            </div>
        </div>

        <div id="activityLogBox"> <!--ACTIVITY LOG--> <!--scrollable-->
            <!--get current day from dayCount-->
            {% for j in [activities] %}
            {% if i != activitiesList[-1] %}
                <div id="activityBox">

                    <div id="activityTimeline"><!--Timeline Box (static on top left corner on each activities)-->
                        <div id="timestart">
                            <div>
                                <!--getStartTime-->
                            </div>
                            <div id="timeDropdown">
                                <button id="timeDropButton">▼</button>
                                <div id="timeDropdownContent">
                                    <!--time radio selection (interval:30minutes/1hour)-->
                                </div>
                            </div>
                        </div>
                        <div id="divider">-</div>
                        <div id="timeEnd">
                            <div>
                                <!--getEndTime-->
                            </div>
                            <div id="timeDropdown">
                                <button id="timeDropButton">▼</button>
                                <div id="timeDropdownContent">
                                    <!--time radio selection (interval:30minutes/1hour)-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="activityPicture"><img src="#" alt="#"></div> <!--Image Box-->

                    <div id="activityFooter">
                        <div id="acticityDescription"> <!--left-->
                            <p>Example | Example</p>
                        </div>
                        <div id="deleteActivity"> <!--right-->
                            <button id="deleteButton">
                                <img src="#" alt="Delete">
                            </button>
                        </div>
                    </div>
                </div>

                <div id="transportBox">
                    <div id="etaBox">
                        <!--getETA-->
                    </div>
                    <div id="processArrow">
                        <h1>↓</h1> <!--Or use image to replace-->
                    </div>
                    <div id="journeyBox">
                        <div id="journeyBox-box">
                            <div id="transportInfo">
                                <!--Bus Number and Line Name (Exception for walking and bicycling)-->
                            </div>
                            <div id="transportLogo">
                                <!--
                                    If bus import busLogo
                                    If train import trainLogo
                                    ...
                                -->
                            </div>
                            <div id="transportDescription">
                                <p>From {{ startLocation }} to {{ endLocation }}</p>
                            </div>
                            <div id="detailJourney">
                                <button id="detailJoutneyButton" onclick="detailedJourney()">
                                    <img src="#" alt="#">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div id="activityTimeline"><!--Timeline Box (static on top left corner on each activities)-->
                    <div id="timestart">
                        <div>
                            <!--getStartTime-->
                        </div>
                        <div id="timeDropdown">
                            <button id="timeDropButton">▼</button>
                            <div id="timeDropdownContent">
                                <!--time radio selection (interval:30minutes/1hour)-->
                            </div>
                        </div>
                    </div>
                    <div id="divider">-</div>
                    <div id="timeEnd">
                        <div>
                            <!--getEndTime-->
                        </div>
                        <div id="timeDropdown">
                            <button id="timeDropButton">▼</button>
                            <div id="timeDropdownContent">
                                <!--time radio selection (interval:30minutes/1hour)-->
                            </div>
                        </div>
                    </div>
                </div>
                <div id="activityPicture"><img src="#" alt="#"></div> <!--Image Box-->

                    <div id="activityFooter">
                        <div id="acticityDescription"> <!--left-->
                            <p>Example | Example</p>
                        </div>
                        <div id="deleteActivity"> <!--right-->
                            <button id="deleteButton">
                                <img src="#" alt="Delete">
                            </button>
                        </div>
                    </div>
                </div>

                <div id="addExtra">
                    <button id="addButton" onclick="addNewBlanckActivity()"> <!--Add Button--> <!--Add drop area-->
                        <img src="#" alt="Add Here">
                    </button>
                </div>
            {% endif %}
            {% endfor %}
        </div>

        <div id="activityPanelFooter"> <!--Footer-->
            <div id="deleteItinerary">
                <img src="#" alt="#">
                <h5>Delete</h5>
            </div>

            <div id="saveItinerary">
                <h5>Proceed</h5>
				<img src="#" alt="#">
            </div>
        </div>
    </div>

    <div id="borderLine"></div> <!--set height in style-->

    <div id="recommendations"></div> <!--RECOMMENDATION PANEL START-->
        <div id="editorPanel-header"> <!--HEADER-->
            Recommendations
        </div>

        <div id="filters"> <!--Filters-->
            {% if selectedFilter == 1 %}
                <div id="filter1">
                    <div id="filterLogo">
                        <img src="#" alt="#">
                    </div>
                    <div id="filterName">
                        {{ filtername }}
                    </div>
                </div>
				<div id="extendFilter">
					<button id="extendFilterButton">▼</button>
					<div id="extendFilterContent">
						<div id="filtersSelected">
							<p>{{ filtersSelectedCount }} Selected</p> <!--center-->
						</div>
						<div id="extendFilterContent-locations">
							<h6>Locations:</h6>
							<label for="location1"><img src="#" alt="#">Example</label> <!--Filter Checkbox Example-->
							<input type="checkbox" id="location1" name="location1" value="Example">
						</div>
						<div id="extendFilterContent-Activities">
							<h6>Activities:</h6>
							<label for="location1"><img src="#" alt="#">Example</label> <!--Filter Checkbox Example-->
							<input type="checkbox" id="location1" name="location1" value="Example">
						</div>
					</div>
				</div>
            {% else %}
                <div id="filter2">
                    <div id="filterNumber">
                        {{ filterTotalCount }}
                    </div>
                    <div id="filterName">
                        <h5>Filters</h5>
                    </div>
                </div>
				<div id="extendFilter">
					<button id="extendFilterButton">▼</button>
				</div>
            {% endif %}
        </div>

        <div id="Recommendations"> <!--Recommendations-->
            {% for i in [recommendations] %}
			<div id="recom"> <!--set dragable and scrolable-->
				<div id="recomImage">
					<img src="#" alt="#"> <!--get recommendation image-->
				</div>
				<div id="addSign">
					<img src="#" alt="#">
				</div>
				<div id="recomDescription">
					<h5>{ recomName }}</h5>{
					<h6>{{ recomType }}</h6>
					<div id="rating">
						{{ getRating }} <img src="#" alt="#"> <!--star image-->
					</div>
					<h4>${{ recomPrice }}/Pax</h4>
				</div>
			</div>
            {% endfor %}
        </div>
</div>
{% endblock %}