<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='report.css') }}">
    <title>Report</title>
</head>
<body>
    <h1>Generated Report</h1>
    <p>Number of Sign-ins: {{ data.sign_ins }}</p>
    <p>Number of Forum Posts: {{ data.forum_posts }}</p>
    <p>Number of Users Banned: {{ data.users_banned }}</p>
    <p>System Health > 80%: {{ data.system_healthy }}</p>
</body>
</html>
