{% extends 'baseNav.html' %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {% block title %}Report{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='report.css') }}">
{% endblock %}

<div class="secondarybody">
    {% block body %}
        <h2>Generated Reports</h2>
        {% for report_id, report_data in data.items() %}
            <div class="report-container">
                <h3>Report #{{ report_id }}</h3>
                <p>Number of Sign-ins: <b>{{ report_data.sign_ins }}</b></p>
                <p>Number of Forum Posts: <b>{{ report_data.forum_posts }}</b></p>
                <p>Number of Users Banned: <b>{{ report_data.users_banned }}</b></p>
                <p>System Health: <b>{{ report_data.system_health }}</b></p>
                <form action="{{ url_for('download_report') }}" method="post">
                    <input type="hidden" name="report_id" value="{{ report_id }}">
                    <button class="download-report-button" type="submit">Download Report</button>
                </form>
            </div>
        {% endfor %}
    {% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

