{% extends "baseNav.html" %}

{% block title %}Sign Up{% endblock %}

{% block head %}
<style>
    * {
        box-sizing: border-box;
    }
    
    #heading {
        text-align: center;
        margin-top: 50px;
        font-size: 3em;
        font-weight: bold;
        margin-bottom: 50px;
    }

    #signinlink {
        text-align: center;
        padding: 50px;
    }

    #left {
        margin-top: 30px;
        margin: auto;
        text-align: center
    }

    #username,
    #password,
    #email,
    #cfm-password {
        width: 100%;
        display: inline-block;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: large;
    }

    #username > p,
    #password > p,
    #email > p,
    #cfm-password > p {
        margin-top: 15px;
    }

    input {
        height: 30px;
        width: 300px;
    }

    input[type="submit"] {
        margin-top: 20px;
    }

    #signUpButton {
        margin-top: 15px;
    }

    #copyright {
        text-align: center;
    }
</style>
{% endblock %}

{% block body %}
<div id="top">
    <h1 id="heading">Create Your Verdex Account</h1>
</div>

<div id="content">
    <div id="left">
        <div id="username">
            <p>Username</p>
            <input type="text" id="usernameInput" placeholder="Username">
        </div>
        <div id="email">
            <p>Email</p>
            <input type="email" id="emailInput" placeholder="Email">
        </div>
        <div id="password">
            <p>Password</p>
            <input type="password" id="passwordInput" placeholder="Password">
        </div>
        <div id="cfm-password">
            <p>Confirm Password</p>
            <input type="password" id="confirmPasswordInput" placeholder="Password">
        </div>        
        <br>
        <div>
            <button onclick="signUp()" id="signUpButton">Sign Up</button>
        </div>
    </div>
</div>

<div id="signinlink">
    <p>Already a Verdex user? <a href="/templates/login">Sign In</a></p>
</div>
<br>
<div id="copyright">
    <script src="/assets/copyright"></script>
</div>
<script src="/assets/signup"></script>
{% endblock %}