{% extends "baseXNav.html" %}

{% block tabTitle %}Verdex Unauthorised Error{% endblock %}
{% block head %}
<style>
    #content {
        margin-top: 100px;
        text-align: center;
    }

    #heading {
        margin-top: 80px;
    }
</style>
{% endblock %}

{% block body %}
<div id="content">
    <img src="/assets/logo?type=transparentColour" alt="logo" width="200">
    <br>
    <h1 id="heading">Access Unauthorised</h1>
    <br>
    <h3>{{ message }}</h3>
    <br>
    <h6>You have been re-directed to this webpage due to incomplete or failed security checks by the Verdex system.</h6>
    <br>
    <br>
    <a href="{{ originURL }}">
        <p>Go back to Verdex Home</p>
    </a>
    <script src="/assets/copyright"></script>
</div>
{% endblock %}