{% extends "baseNav.html" %}

{% block title %}Verdex Sign In{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/login.css">
{% endblock %}

{% block body %}
<div id="top">
    <h1 id="heading">Sign In To Verdex</h1>
</div>

<div id="content">
    <div id="left">
        <div id="username">
            <p>Username / Email</p>
            <input type="text" id="usernameInput" placeholder="Username">
        </div>
        <div id="password">
        <p>Password</p>
        <input type="password" id="passwordInput" placeholder="Password">
        </div>
        <div id="statusLabel">
            <h5></h5>
        </div>
        <div id="recover">
            <a href="#">
                <p>Forgot username and password?</p>
            </a>
        </div>
        <div>
            <button id="signInButton" onclick="signIn()">Sign In</button>
        </div>
    </div>
</div>

<div id="signuplink">
    <p>New to Verdex? <a href="/account/signup">Sign Up</a></p>
</div>
<br>
<div id="copyright">
    <script src="/assets/copyright"></script>
</div>
<script src="/assets/loginJS"></script>
{% endblock %}