{% extends "baseNav.html" %}

{% block title %}Verdex Sign In{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/login.css">
{% endblock %}

{% block body %}
<div id="top">
    <h1 id="heading">Sign In To Verdexx</h1>
</div>

<div id="content">
    <div id="left">
        <div id="left-content">
            <div class="mb-3">
                <label for="usernameInput" class="form-label">Username or Email</label>
                <input type="text" class="form-control" id="usernameInput" placeholder="Username / Email">
            </div>
            <div class="mb-3">
                <label for="passwordInput" class="form-label">Password</label>
                <input type="password" class="form-control" id="passwordInput" placeholder="Password">
            </div>
            <div id="statusLabel">
                <h5></h5>
            </div>
            <div id="recover">
                <a href="#">
                    <p>Forgot username and password?</p>
                </a>
            </div>
            <div>
                <button id="signInButton" onclick="signIn()">Sign In</button>
            </div>
        </div>
    </div>

    <div id="middle">
        <span id="or">OR</span>
    </div>

    <div id="right">
        <button id="google">Sign In with Google</button>
        <button id="apple">Sign In with Apple</button>
    </div>
</div>

<div id="signuplink">
    <p>New to Verdex? <a href="/account/signup">Sign Up</a></p>
</div>
<div id="copyright">
    <script src="/assets/copyright"></script>
</div>
<script src="/assets/loginJS"></script>
{% endblock %}