{% extends "baseNav.html" %}

{% block title %}Sign Up{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/signup.css">
{% endblock %}

{% block body %}
<div id="top">
    <h1 id="heading">Create Your Verdex Account</h1>
</div>

<div id="content">
    <div id="left">
        <div id="username">
            <p>Username</p>
            <input type="text" id="usernameInput" placeholder="Username">
            <div id="usernameMsg"><h5></h5></div>
        </div>
        <div id="email">
            <p>Email</p>
            <input type="email" id="emailInput" placeholder="Email">
            <div id="emailMsg"><h5></h5></div>
        </div>
        <div id="password">
            <p>Password</p>
            <input type="password" id="passwordInput" placeholder="Password">
            <div id="passwordMsg"><h5></h5></div>
        </div>
        <div id="cfm-password">
            <p>Confirm Password</p>
            <input type="password" id="confirmPasswordInput" placeholder="Password">
            <div id="cfmPasswordMsg"><h5></h5></div>
        </div>        
        <br>
        <div>
            <button onclick="signUp()" id="signUpButton">Sign Up</button>
        </div>
    </div>
</div>

<div id="signinlink">
    <p>Already a Verdex user? <a href="/account/login">Sign In</a></p>
</div>
<br>
<div id="copyright">
    <script src="/assets/copyright"></script>
</div>
<script src="/assets/signupJS"></script>
{% endblock %}