{% extends 'baseNav.html' %}
    {% block title %}VerdexTalks{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='forum.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/assets/forumJS"></script>
{% endblock %}

{% block body %}
    <div class="content">
        <div class="sidebar">
            <div class="list-of-all-filter-buttons-container">
                
                <ul class="list-of-all-filter-buttons">
                    <li class="filter-buttons" onclick="filterPosts('All')">All</li>
                    <li class="filter-buttons" onclick="filterPosts('Scenery')">#Scenery</li>
                    <li class="filter-buttons" onclick="filterPosts('Nature')">#Nature</li>
                    <li class="filter-buttons" onclick="filterPosts('Food')">#Food</li>
                </ul>
            </div>
        </div>
        <div class="natural-flow-content">
            <div class="create-a-post-button" onclick="createPostPopup()">
                <div id="plus-icon-container">
                    <span class="plus-icon">+</span>
                </div>
                <div class="text-container">
                    <h3 class="header">Create a post</h3><br>
                    <p class="text">Share your memories with friends</p>
                </div>
            </div>
            <div class="create-a-post-container">
                <div id="recent-itineraries-container">
                    <button class="recent-itineraries-buttons" onclick="itineraryShortcutButtonPopup('Trip to Sentosa')">
                        <img src="static/Images/Sentosa darkened.jpg" alt="Sentosa">
                        <span>Sentosa</span>
                    </button><br>
                    <button class="recent-itineraries-buttons" onclick="itineraryShortcutButtonPopup('Singapore Islands')">
                        <img src="static/Images/SG Islands darkened.jpg" alt="Singapore Islands">
                        <span>Singapore Islands</span>
                    </button><br>
                    <button class="recent-itineraries-buttons" onclick="itineraryShortcutButtonPopup('Food Galore')">
                        <img src="static/Images/Food Galore darkened.jpg" alt="Food Galore">
                        <span>Food Galore</span>
                    </button><br>
                </div>
            </div>
            <div class="post-section-container">
                {% for post_username, post_data in postsInfoJson.items() %}
                <div id="individual-posts" data-post-id="{{ post_data.postDateTime }}" class="{{ post_data.tag }}">
                        <div class="post-content">
                            <div class="nameAndTagHeader">
                                <h3 class="name-of-user-who-shared-post-header">{{ post_data.user_names }} shared: <span id="postTitle"><i>{{ post_data.post_title }}</i></span></h3>
                                {% if post_data.tag != "" %}
                                    <h4 class="tag-display">#{{ post_data.tag }}</h4>
                                {% endif %}
                            </div>
                            <p class="post-description">{{ post_data.post_description }}</p>
                            {% if post_data.comments != {} %}
                                <h5 id="comments-header">Comments: </h5><br>
                                {% for comment_id, comment_text in post_data.comments.items() %}
                                    <div class="commentDiv" data-comment-id="{{ comment_id }}">
                                        <li id="comment">{{ comment_text }}</li>
                                        <button id="delete-comment-button" onclick="deleteComment('{{ post_data.postDateTime }}', '{{ comment_id }}')">Delete comment</button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="lower-row-buttons-container">
                            <div class="post-reaction-buttons-container">
                                <ul class="list-of-reaction-buttons">
                                    <li class="reaction-buttons" onclick='likePost("{{ post_data.postDateTime }}")'>Likes ({{ post_data.likes }})</li>
                                    <li class="reaction-buttons" onclick='deletePost("{{ post_data.postDateTime }}")'>Delete post</li>
                                    <li class="reaction-buttons" onclick='commentPost("{{ post_data.postDateTime }}")'>Comment</li>
                                </ul>
                            </div>
                            <button id="edit-button" onclick="editPost('{{ post_data.postDateTime }}')">Edit post</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="create-a-post-popup">
            <div id="popup-content">
                <button id="close-popup-button" onclick="return closeCreatePopup()"><span>&#x274C;</span> Discard changes</button>
                <h2 id="popup-header">Create A Post!</h2>
                <input type="text" name="user_names" id="user_names" rows="1" cols="80" placeholder="Name(s): " required="required"><br>
                <input type="text" name="post_title" id="post-title" rows="1" cols="100" placeholder="Title: " required="required"><br>
                <input type="text" name="post_description" id="post-description" rows="8" cols="100" placeholder="Write your post description here" required="required"><br>
                <input type="hidden" name="post_tag" id="post-tag" value="">
                <p>Suggested tags: (Optional)</p>
                <div id="tags-button-container">
                    <button id="scenery-tag-button" class="tags-button" onclick="selectTag('Scenery', event, 'scenery-tag-button', 'food-tag-button', 'nature-tag-button')">#Scenery</button>
                    <button id="food-tag-button" class="tags-button" onclick="selectTag('Food', event, 'food-tag-button', 'scenery-tag-button', 'nature-tag-button')">#Food</button>
                    <button id="nature-tag-button" class="tags-button" onclick="selectTag('Nature', event, 'nature-tag-button', 'scenery-tag-button', 'food-tag-button')">#Nature</button>
                </div>
                <button type="submit" name="addNewPost" id="post-it-button" onclick="submitPost()">Post it!</button>
            </div>
        </div>
        <div id="comment-on-post-popup">
            <div id="popup-content">
                <form id="comment-post-form" method="post" action="{{ url_for('forum.comment_on_post') }}">
                    <button id="close-popup-button" onclick="return closeCommentPopup()"><span>&#x274C;</span> Discard changes</button>
                    <h2 id="popup-header">Add your comment!</h2>
                    <textarea name="comment_description" id="comment_description" rows="8" cols="100" placeholder="Write your comment here" required="required"></textarea><br>
                    <button type="button" name="commentOnPost" id="comment-button" onclick='submitComment()'>Add comment!</button>
                </form>
            </div>
        </div>
        <div id="edit-post-popup">
            <div id="popup-content">
                <form id="edit-post-form" method="post" action="{{ url_for('forum.edit_post') }}">
                    <button id="close-popup-button" onclick="return closeEditPopup()"><span>&#x274C;</span> Discard changes</button>
                    <h2 id="popup-header">Edit post</h2>
                    <textarea name="edit_user_names" id="edit_user_names" rows="1" cols="80" required="required" placeholder="Enter new name(s): "></textarea><br>
                    <textarea name="edit_post_title" id="edit-post-title" rows="1" cols="100" required="required" placeholder="Enter new title: "></textarea><br>
                    <textarea name="edit_post_description" id="edit-post-description" rows="8" cols="100" required="required" placeholder="Enter new description: "></textarea><br>
                    <input type="hidden" name="edit_post_tag" id="edit-post-tag" value="">
                    <p>Suggested tags: </p>
                    <div id="tags-button-container">
                        <button id="edit-scenery-tag-button" class="tags-button" onclick="editSelectTag('Scenery', event, 'edit-scenery-tag-button', 'edit-food-tag-button', 'edit-nature-tag-button')">#Scenery</button>
                        <button id="edit-food-tag-button" class="tags-button" onclick="editSelectTag('Food', event, 'edit-food-tag-button', 'edit-scenery-tag-button', 'edit-nature-tag-button')">#Food</button>
                        <button id="edit-nature-tag-button" class="tags-button" onclick="editSelectTag('Nature', event, 'edit-nature-tag-button', 'edit-scenery-tag-button', 'edit-food-tag-button')">#Nature</button>
                    </div>
                    <button type="submit" name="editPost" id="post-it-button" onclick="submitEdit()">Confirm edits</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}